@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

:root {
    font-family: Lora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --mouse-x: 50%;
    --mouse-y: 50%;
}


.bg {
    
    filter: contrast(130%) brightness(450%);
    background:
        linear-gradient(140deg,
            rgba(0, 50, 255, 1),
            rgba(150, 7, 236, 0.47)),
        radial-gradient(at var(--mouse-x) var(--mouse-y),
            rgba(0, 0, 0, 0.5),
            rgba(255, 255, 255, 0.8)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 254 254' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.5' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 90%;
}